<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img [src]="artista.images[1].url">
    </div>
    <div class="col-md-8 text-center">
      <br><br><br>
      <h1> {{ artista.name }} </h1>
      <br><br><br><br>
        <div class="row margins">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <a class="btn btn-danger col-md"
              [routerLink]="['/search']">
              <h3> Regresar </h3>
            </a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <a [href]="artista.external_urls.spotify" class="btn btn-success col-md">
              <h3> Ver en Spotify </h3>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
    </div>

  </div>

</div>
<br><br><br>
<h2> Top - Tracks </h2>
<div class="container" *ngFor="let cancion of tracks; let idx = index">
  <hr>
  <div class="row">
    <div class="col-md-2 d-block bg-primary">
      <img [src]="cancion.album.images[1].url" class="cuadro">
    </div>
    <div class="col-md-10 d-block p-2 bg-dark text-white text-center">
      <h4> {{ cancion.name }} </h4>
    </div>
  </div>
</div>
<br>
